# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Authorized.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nd\source\repos\Authorized\.idea\.idea.Authorized\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
